.root {
    -fx-background-color: #f7faff;
    -fx-font-family: "Inter", "Segoe UI", Arial, sans-serif;
}

.cabinet-pane {
    -fx-background-color: #fff;
    -fx-background-radius: 18;
    -fx-padding: 32 52 35 52;
    -fx-effect: dropshadow(gaussian, rgba(30,60,190,0.09), 18, 0, 0, 4);
}

.title-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #255fea;
    -fx-padding: 12 0 32 0;
}

.form-label {
    -fx-font-size: 17px;
    -fx-text-fill: #143053;
    -fx-font-weight: 600;
}

.form-field {
    -fx-background-color: #f2f7fa;
    -fx-border-color: #d8e4f5;
    -fx-border-radius: 9;
    -fx-background-radius: 9;
    -fx-font-size: 17px;
    -fx-padding: 8 20 8 20;
    -fx-min-width: 210;
}

.save-btn {
    -fx-background-color: linear-gradient(to right, #22c55e, #16a34a);
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 11;
    -fx-padding: 10 28 10 28;
    -fx-font-size: 16px;
    -fx-border-width: 0;
}

.logout-btn {
    -fx-background-color: linear-gradient(to right, #e66d32, #f6422e);
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 11;
    -fx-padding: 10 28 10 28;
    -fx-font-size: 16px;
    -fx-border-width: 0;
}

.back-btn {
    -fx-background-color: linear-gradient(to right, #2563eb, #5898f3);
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 11;
    -fx-padding: 10 28 10 28;
    -fx-font-size: 16px;
    -fx-border-width: 0;
}

.button:hover {
    -fx-opacity: 0.89;
}

.order-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #1557c6;
    -fx-padding: 18 0 12 0;
}
.order-item {
    -fx-padding: 7 0 7 0;
    -fx-font-size: 15px;
    -fx-background-color: #f2f7fa;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-margin: 0 0 5 0;
}
.email-disabled {
    -fx-background-color: #e5e9f0;
    -fx-text-fill: #7685a2;
    -fx-opacity: 1.0;
    -fx-font-weight: 500;
    -fx-border-color: #dbe3ed;
}

